@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@mixin setBlockMargin($up-down-margin, $left-right-margin) {
  margin: $up-down-margin $left-right-margin;
}

body {
  background: $gray-800;
  color: $white;
}

#outer-container {
  font-family: "Titillium Web", sans-serif;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;

  #drum-machine {
    @include setBlockMargin(0, auto);

    max-width: 80%;
    border: 1px solid $yellow-300;
    border-radius: 5px;
    background: $orange-700;

    #display {
      @include setBlockMargin(1rem, auto);

      padding: 0.5rem 0;
      max-width: 50%;
      background: $black;
    }

    .col {
      text-align: center;
    }

    .col.drum-pad {
      @include setBlockMargin(0.1rem, 0.1rem);

      text-align: center;

      cursor: pointer;

      background: $gray-700;
      color: $white;

      border: 0.5px solid $orange-200;
      border-radius: 0.1rem;

      padding: 1rem 0.5rem;
    }

    .col.drum-pad:active {
      background: $gray-600;
    }
  }
}
